* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #3A0CA3; 
}

#header {
    display: inline-block;
}

.description, .first-div, #photo, .title, .top-page {
    display: inline-block;
    margin: 5px;
}

.title {
    font-weight: bold;
    font-size: 200%;
    font-family: monospace;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-style: outset;
    border-radius: 10px;
    background-color: azure;
    margin: 0 0 1% 55%;

}

#photo {
    padding: 1%;
    background-color: #ffff;
    border-radius: 5%;
    display: inline-block;
}

.first-div {
    margin-right: 90%;
}

#about-author {
    font-size: 15px;
    background-color: aliceblue;
    padding: 6px;
    border-radius: 6px;
}

#bio {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
}

.my-habilities {
    font-size: 22px;
}

.indice-up {
    padding: 22px;
    border-radius: 3px;
    background-color: aliceblue;
}

