/*Reset CSS config*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles */

html, body {
  font-family: Poppins;
  color: white;
  scroll-behavior: smooth;
}

/*Fonte imports*/

@font-face {
  font-family: Permanent Marker;
  src: url(/assets/fonts/PermanentMarker-Regular.ttf)
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Black.ttf);
}

/*Vars*/
:root {
  --cabecalho-height: 45px;
}

/* Sessão scrollbar */

::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);;
}

::-webkit-scrollbar-thumb {
  background: rgba(148, 19, 19, 0.774);
  border-radius: 10px;
}













/* Fim conteúdo principal*/

/* Ellipse 5 */

/* Nam Bg */



